<div class="container-fluid">
  <!-- start page title -->
  <app-page-title title="Kanban Board" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="dropdown float-end" dropdown>
            <a href="javascript: void(0);" class="dropdown-toggle arrow-none" dropdownToggle>
              <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
              <a class="dropdown-item" href="javascript: void(0);">Edit</a>
              <a class="dropdown-item" href="javascript: void(0);">Delete</a>
            </div>
          </div> <!-- end dropdown -->

          <h4 class="card-title mb-4">To Do</h4>
          <div id="todo-task" class="pb-1 task-list" dndDropzone dndEffectAllowed="move" (dndDrop)="onDrop($event, todoTasks,'todo')">
            <div class="dndPlaceholder" dndPlaceholderRef></div>
            @for(task of todoTasks;track $index){
            <ng-container>
              <div [dndDraggable]="task" dndEffectAllowed="move" (dndMoved)="onDragged(task, todoTasks)">
                <ng-template [ngTemplateOutlet]="TaskContent" [ngTemplateOutletContext]="{task:task, index: $index}">
                </ng-template>
              </div>
            </ng-container>
            }

            <div class="text-center d-grid">
              <a href="javascript: void(0);" class="btn btn-primary" (click)="addnewTask('todo')"><i class="mdi mdi-plus me-1"></i>
                Add New</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="dropdown float-end" dropdown>
            <a href="javascript: void(0);" class="dropdown-toggle arrow-none" dropdownToggle>
              <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
              <a class="dropdown-item" href="javascript: void(0);">Edit</a>
              <a class="dropdown-item" href="javascript: void(0);">Delete</a>
            </div>
          </div> <!-- end dropdown -->

          <h4 class="card-title mb-4">Doing</h4>
          <div id="doing-task" class="pb-1 task-list" dndDropzone dndEffectAllowed="move" (dndDrop)="onDrop($event, doingTasks,'doing')">
            <div class="dndPlaceholder" dndPlaceholderRef></div>
            @for(task of doingTasks;track $index){
            <ng-container>
              <div [dndDraggable]="task" dndEffectAllowed="move" (dndMoved)="onDragged(task, doingTasks)">
                <ng-template [ngTemplateOutlet]="TaskContent" [ngTemplateOutletContext]="{task:task, index: $index}">
                </ng-template>
              </div>
            </ng-container>
            }
            <div class="text-center d-grid">
              <a href="javascript: void(0);" class="btn btn-primary" (click)="addnewTask('doing')"><i class="mdi mdi-plus me-1"></i>
                Add New</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="dropdown float-end" dropdown>
            <a href="javascript: void(0);" class="dropdown-toggle arrow-none" dropdownToggle>
              <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
              <a class="dropdown-item" href="javascript: void(0);">Edit</a>
              <a class="dropdown-item" href="javascript: void(0);">Delete</a>
            </div>
          </div> <!-- end dropdown -->

          <h4 class="card-title mb-4">Done</h4>
          <div id="done-task" class="pb-1 task-list" dndDropzone dndEffectAllowed="move" (dndDrop)="onDrop($event, doneTasks,'done')">
            <div class="dndPlaceholder" dndPlaceholderRef></div>
            @for(task of doneTasks;track $index){
            <ng-container>
              <div [dndDraggable]="task" dndEffectAllowed="move" (dndMoved)="onDragged(task, doneTasks)">
                <ng-template [ngTemplateOutlet]="TaskContent" [ngTemplateOutletContext]="{task:task, index: $index}">
                </ng-template>
              </div>
            </ng-container>
            }

            <div class="text-center d-grid">
              <a href="javascript: void(0);" class="btn btn-primary" (click)="addnewTask('done')"><i class="mdi mdi-plus me-1"></i>
                Add New</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Task  -->
<ng-template #TaskContent let-task='task' let-i='index'>
  <div class="card task-box">
    <div class="card-body">
      <div class="dropdown float-end" dropdown>
        <a href="javascript:void(0);" class="dropdown-toggle arrow-none" data-bs-toggle="dropdown" aria-expanded="false" dropdownToggle>
          <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
          <a class="dropdown-item edittask-details" href="javascript:void(0);" id="taskedit" data-id="#uptask-2" (click)="updateTask(task)">Edit</a>
          <a class="dropdown-item deletetask" href="javascript:void(0);" data-id="#uptask-2" (click)="delete($event)">Delete</a>
        </div>
      </div>
      <div class="float-end ms-2">
        <span class="badge rounded-pill badge-soft-secondary font-size-12" [ngClass]=" { 
            'badge-soft-secondary': task.status === 'todo',
            'badge-soft-success': task.status === 'done',
            'badge-soft-primary': task.status === 'doing' }">{{task.task}}</span>
      </div>
      <div>
        <h5 class="font-size-15 mb-3"><a href="javascript: void(0);" class="text-dark" (click)="updateTask(task)">{{task.title}}</a>
        </h5>
      </div>

    </div>
  </div>
</ng-template>

<div bsModal #modalForm="bs-modal" id="modalForm" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title add-task-title" *ngIf="!editId">Add New Task</h5>
        <h5 class="modal-title update-task-title" *ngIf="editId">Update Task</h5>
        <button type="button" class="btn-close" (click)="modalForm.hide()"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submitForm()" [formGroup]="taskForm" id="NewtaskForm" role="form">
          <div class="form-group mb-3">
            <label for="taskname" class="col-form-label">Task Name<span class="text-danger">*</span></label>
            <div class="col-lg-12">
              <input id="taskname" name="taskname" type="text" class="form-control validate" formControlName="title" placeholder="Enter Task Name..." required>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="col-form-label">Task Description</label>
            <div class="col-lg-12 mb-3">
              <div class="d-flex gap-2 mb-2">
                <button type="button" class="btn btn-primary btn-sm rounded-pill px-3" (click)="uploadFile('image')">
                  <i class="mdi mdi-image-outline me-1"></i> Photo
                </button>
                <button type="button" class="btn btn-light btn-sm rounded-pill px-3 border" (click)="uploadFile('file')">
                  <i class="mdi mdi-file-outline me-1"></i> File
                </button>
              </div>
              <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
              <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
              <div class="editor-scroll-container">
                <ngx-editor [editor]="editor" [(ngModel)]="html" [ngModelOptions]="{standalone: true}" [disabled]="false"
                  [placeholder]="'Type here...'" (paste)="onPaste($event)"></ngx-editor>
              </div>
            </div>
          </div>

          <!-- Attachments Metadata List -->
          @if (attachments.length > 0) {
          <div class="form-group mb-3">
            <div class="col-lg-12">
              <div class="border rounded p-3 bg-light">
                <h6 class="font-size-14 mb-3"><i class="mdi mdi-attachment me-2"></i>Attached Files ({{attachments.length}})</h6>
                <ul class="list-unstyled mb-0">
                  @for(file of attachments;track $index){
                  <li class="d-flex align-items-center mb-2 last-child-mb-0">
                    <div class="avatar-xs me-2">
                      <span class="avatar-title bg-primary-subtle text-primary rounded">
                        <i class="mdi mdi-file-outline"></i>
                      </span>
                    </div>
                    <div class="flex-grow-1 overflow-hidden">
                      <h5 class="font-size-13 text-truncate mb-0">{{file.name}}</h5>
                      <p class="text-muted font-size-12 mb-0">{{file.size}}</p>
                    </div>
                    <div class="ms-2">
                      <a href="javascript:void(0);" class="text-danger font-size-16" (click)="removeAttachment($index)">
                        <i class="mdi mdi-trash-can-outline"></i>
                      </a>
                    </div>
                  </li>
                  }
                </ul>
              </div>
            </div>
          </div>
          }

          <div class="form-group mb-4">
            <label class="col-form-label" for="TaskStatus">Status<span class="text-danger">*</span></label>
            <div class="col-lg-12">
              <select class="form-select validate" id="TaskStatus" formControlName="status" required>
                <option value="" selected disabled>Choose..</option>
                <option value="todo">To Do</option>
                <option value="doing">Doing</option>
                <option value="done">Done</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 text-end">
              <button type="button" class="btn btn-light me-2" (click)="modalForm.hide()">Close</button>
              <button type="submit" class="btn btn-primary" id="addtask">{{ editId ? 'Update Task' : 'Create Task' }}</button>
            </div>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->