<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="Create Task" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Create New Task</h4>
          <form class="outer-repeater">
            <div data-repeater-list="outer-group" class="outer">
              <div data-repeater-item class="outer">
                <div class="row mb-4">
                  <label for="taskname" class="col-form-label col-lg-2">Task Name</label>
                  <div class="col-lg-10">
                    <input id="taskname" name="taskname" type="text" class="form-control"
                      placeholder="Enter Task Name..." [(ngModel)]="taskTitle">
                  </div>
                </div>
                <div class="row mb-4">
                  <label class="col-form-label col-lg-2">Task Description</label>
                  <div class="col-lg-10 mb-3">
                    <div class="d-flex gap-2 mb-2">
                      <button type="button" class="btn btn-primary btn-sm rounded-pill px-3" (click)="uploadFile('image')">
                        <i class="mdi mdi-image-outline me-1"></i> Photo
                      </button>
                      <button type="button" class="btn btn-light btn-sm rounded-pill px-3 border" (click)="uploadFile('file')">
                        <i class="mdi mdi-file-outline me-1"></i> File
                      </button>
                    </div>
                    <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
                    <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                    <div class="editor-scroll-container">
                      <ngx-editor [editor]="editor" [(ngModel)]="html" [disabled]="false"
                        [placeholder]="'Type here...'" (paste)="onPaste($event)"></ngx-editor>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- New Attachments Metadata List -->
            @if (attachments.length > 0) {
            <div class="row">
              <div class="col-lg-2"></div>
              <div class="col-lg-10">
                <div class="border rounded p-3 mb-4 bg-light">
                  <h6 class="font-size-14 mb-3"><i class="mdi mdi-attachment me-2"></i>Attached Files ({{attachments.length}})</h6>
                  <ul class="list-unstyled mb-0">
                    @for(file of attachments;track $index){
                    <li class="d-flex align-items-center mb-2 last-child-mb-0">
                      <div class="avatar-xs me-2">
                        <span class="avatar-title bg-primary-subtle text-primary rounded">
                          <i class="mdi mdi-file-outline"></i>
                        </span>
                      </div>
                      <div class="flex-grow-1 overflow-hidden">
                        <h5 class="font-size-13 text-truncate mb-0">{{file.name}}</h5>
                        <p class="text-muted font-size-12 mb-0">{{file.size}}</p>
                      </div>
                      <div class="ms-2">
                        <a href="javascript:void(0);" class="text-danger font-size-16" (click)="removeAttachment($index)">
                          <i class="mdi mdi-trash-can-outline"></i>
                        </a>
                      </div>
                    </li>
                    }
                  </ul>
                </div>
              </div>
            </div>
            }

            <div class="row justify-content-end">
              <div class="col-lg-10">
                <button type="button" class="btn btn-primary" (click)="createTask()">Create Task</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->